<!-- Navbar Section
<app-navbar></app-navbar> -->

<!-- Header Section -->
<header>
  <div class="cover" data-aos="fade-in">
    <div class="content">
      <p>
        Crafting Dreams into Concrete Reality: Where Vision Meets Structure.
      </p>
    </div>
  </div>
</header>

<!-- Section 1 - About Us -->
<section>
  <div class="container my-5" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-img">
          <img
            src="assets/logo.jpeg"
            width="550"
            height="380"
            class="img"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-box" style="margin-top: 45px">
          <h2>About Us</h2>
          <h4 class="mb-3">HPSV Studio</h4>
          <h6>
            Architects | Project Management Consultants | Interior & Landscape
            Designers
          </h6>
          <p>
            We use our creativity to design buildings while keeping an eye on
            the future. Every project reflects our vision for a better tomorrow,
            blending innovation with practicality. Our aim is to create spaces
            that stand the test of time, where simplicity meets forward-thinking
            design.
          </p>
          <div>
            <a routerLink="/aboutus" class="btn btn-primary custom-css"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section 2 - Services -->
<section class="mt-5">
  <div class="container-fluid" data-aos="fade-up">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-3 bg">
          <h2>Architecture</h2>
          <p>
            When the design concepts have been decided, the architect prepares
            working drawings and specifications.
          </p>
          <a routerLink="/architecture" class="btn btn-primary custom-css"
            >Read More</a
          >
        </div>
        <div class="col-lg-3 bg">
          <h2>Interior</h2>
          <p>
            You may engage your architect to provide an interior service,
            advising on loose furniture.
          </p>
          <a routerLink="/architecture" class="btn btn-primary custom-css"
            >Read More</a
          >
        </div>
        <div class="col-lg-3 bg">
          <h2>Liaisoning</h2>
          <p>
            As one of the successful architecture firms & we also play a pivotal
            role when it comes to Liaisoning services.
          </p>
          <a routerLink="/architecture" class="btn btn-primary custom-css"
            >Read More</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section 3 - Latest Projects -->
<section class="mt-5">
  <div class="container mt-5" data-aos="fade-up">
    <h1>Latest Projects</h1>
    <p>Projects Of 'HPSV Studio'</p>
    <div class="row justify-content-around">
      <div class="col-lg-4" data-aos="zoom-in">
        <div class="card card-with-border">
          <img
            src="assets/RENDER2.jpg"
            class="card-img-top section4-image"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">MMCOE Canteen at Pune</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4" data-aos="zoom-in">
        <div class="card card-with-border">
          <img
            src="assets/temple.jpg"
            class="card-img-top section4-image"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">Lord Mahadev Temple at Beed</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4" data-aos="zoom-in">
        <div class="card card-with-border">
          <img
            src="assets/A.jpg"
            class="card-img-top section4-image"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">Bungalow at Lohegaon, Pune</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section 4 - Contact Us -->
<section>
  <div class="container-fluid mt-5 mb-3 bg-contact py-3">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-3">
          <img src="assets/Contact.png" alt="Contact" class="Contact-image" />
        </div>
        <div class="col-lg-4 pt-5">
          <h5>Contact Us</h5>
          <h5>Keep In Touch With HPSV Studio</h5>
        </div>
        <div class="col-lg-3 pt-5">
          <a routerLink="/contact" class="btn btn-primary custom-css"
            >CONTACT NOW</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer Section -->
<app-footer></app-footer>
