<!-- Navbar Section
<app-navbar></app-navbar> -->

<div class="container" style="margin-top: 120px">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <img
        src="assets/RENDER1.jpg"
        alt=""
        class="img-fluid"
        data-aos="zoom-in"
        style="box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15)"
      />
    </div>
    <div class="col-lg-6">
      <h3 data-aos="fade-right">ARCHITECTURE</h3>
      <p style="color: rgb(101, 99, 99)" class="mt-2" data-aos="fade-right">
        Architecture provides an opportunity to add beauty and structure to the
        world. And we aim to do exactly that! We create innovative designs that
        are user centric while maintaining harmony with the natural
        surroundings. In the schematic phase of architecture, we take inputs
        from the client, followed by research and analysis of the project plan
        to avoid any future obstacles. Our architects then begin the study of
        location, size and the interconnection of the spaces. This enables us to
        create a rough plan of the building. Furthermore, the realistic sketches
        made by our architects give a solid outlook of how the building will
        look when built.
      </p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h3 data-aos="fade-right">PLANNING</h3>
      <p style="color: rgb(101, 99, 99)" class="mt-2" data-aos="fade-right">
        In our architectural planning services, we consider and analyze the
        requirements of our clients to come up with the best approach to either
        refurbish an existing temple or to design a new one from scratch. We use
        state of the art technology to do so. With further analysis of the
        design and site, we recommend any changes for better feasibility. The
        architectural plans are designed using the latest technology for the
        most accurate results.
      </p>
    </div>
    <div class="col-lg-6">
      <img
        src="assets/planning.png"
        alt=""
        class="img-fluid"
        data-aos="zoom-in"
        style="box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15)"
      />
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <img
        src="assets/LIASONING.png"
        alt=""
        class="img-fluid"
        data-aos="zoom-in"
        style="box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15)"
      />
    </div>
    <div class="col-lg-6">
      <h3 data-aos="fade-right">LIASONING</h3>
      <p style="color: rgb(101, 99, 99)" class="mt-2" data-aos="fade-right">
        We trust in long-term affiliation and for that we provide liaison
        services to fulfill your requirements. There are numerous instances
        during the construction of a temple where the owners are unaware about
        the legal guidelines of that specific region or territory which might
        land them in a limbo. In a scenario like this, we serve as the middleman
        to guide you regarding the construction laws and various documentation
        processes through the construction period. We’re completely privy to the
        clauses and laws which are required before kick starting the development
        site. As a liaison consultant, we recognize which officer to approach,
        when to approach, as a result simplifying the procedure efficiently. And
        we have won some of these know-hows with a sizeable experience and
        marketplace studies, consequently rising as a winner within the
        competitive market of liaison offerings.
      </p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h3 data-aos="fade-right">Interior Works</h3>
      <p style="color: rgb(101, 99, 99)" class="mt-2" data-aos="fade-right">
        Elevate your living spaces with the expertise of HPSV Studio in interior
        works. Our dedicated team combines creativity and precision to craft
        personalized and functional designs that seamlessly integrate style into
        your surroundings. From concept to execution, HPSV Studio is committed
        to transforming your space into a haven that reflects your unique taste
        and enhances your everyday experiences.
      </p>
    </div>
    <div class="col-lg-6">
      <img
        src="assets/Interior.jpg"
        alt=""
        class="img-fluid"
        data-aos="zoom-in"
        style="box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15)"
      />
    </div>
  </div>
</div>

<!-- Description Section -->
<app-description-section></app-description-section>

<!-- Footer -->
<app-footer></app-footer>
