<!-- Description Section -->
<div class="container-fluid description mt-5">
  <div class="container description1">
    <div class="row">
      <div class="col-lg-6">
        <img src="assets/logo.jpeg" alt="" class="image-logo" />
        <p class="pt-3">
          HPSV Studio has experience in planning the layout/building for Pune
          Corporation, PMRDA, and other related offices. We have designed
          various public buildings, schools, commercial complexes, residential
          buildings, bungalows, industrial sheds, corporate offices as well as
          banks
        </p>
      </div>
      <div class="col gettouch">
        <h5>GET IN TOUCH</h5>
        <p>+91 9325326983</p>
        <p>hpsvstudio@gmail.com</p>
      </div>
    </div>
  </div>
</div>
