<!-- navbar section

<app-navbar></app-navbar> -->

<header class="mt-5">
  <img src="assets/cover.jpg" alt="" class="cover" />
  <span><h1 class="content">HPSV Studio Works</h1></span>
</header>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <img
        src="assets/RENDER1.jpg"
        alt=""
        class="img-fluid"
        data-aos="zoom-in"
        style="box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15)"
      />
    </div>
    <div class="col-lg-6">
      <h3 data-aos="fade-right">MMCOE CANTEEN</h3>
      <p style="color: rgb(101, 99, 99)" class="mt-2" data-aos="fade-right">
        Nestled in the vibrant city of Pune, the MMCOE Canteen serves as a
        bustling hub for culinary delights within the MMCOE campus. Located in
        the heart of Pune, this canteen offers a diverse menu of delicious and
        affordable meals, catering to the diverse tastes of students and faculty
        alike. With a comfortable and inviting ambiance, the MMCOE Canteen
        provides a social space for students to gather, unwind, and enjoy a
        variety of flavorful dishes. Whether it's a quick bite between classes
        or a leisurely meal with friends, the MMCOE Canteen in Pune stands as a
        cherished spot for community and culinary satisfaction within the MMCOE
        campus.
      </p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h3 data-aos="fade-right">LOHEGAON BUNGALOW</h3>
      <p style="color: rgb(101, 99, 99)" class="mt-2" data-aos="fade-right">
        Located in the heart of Lohegaon, Pune, this expansive 4,700 sq ft
        bungalow is an embodiment of tranquility and style. Nestled amidst lush
        greenery, its refined design, featuring expansive windows, bathes the
        interiors in natural light. The uncomplicated layout effortlessly
        unfolds to reveal a charming deck and a meticulously groomed lawn,
        creating an idyllic space for a serene and relaxed lifestyle.
      </p>
    </div>
    <div class="col-lg-6">
      <img
        src="assets/lohegaon.jpg"
        alt=""
        class="img-fluid"
        data-aos="zoom-in"
        style="box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15)"
      />
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <img
        src="assets/Indapur.jpg"
        alt=""
        class="img-fluid"
        data-aos="zoom-in"
        style="box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15)"
      />
    </div>
    <div class="col-lg-6">
      <h3 data-aos="fade-right">INDAPUR BUNGALOW</h3>
      <p style="color: rgb(101, 99, 99)" class="mt-2" data-aos="fade-right">
        Located in Indapur, this 4000 sq. ft. bungalow seamlessly integrates
        modern design with the serene beauty of its surroundings. The spacious
        interiors and thoughtful layout create a comfortable living space,
        perfect for relaxation and enjoyment. With ample room for both privacy
        and socializing, this home in Indapur offers a harmonious blend of style
        and tranquility. Explore the charm of this residence, where every corner
        reflects a balance between contemporary living and the peaceful ambiance
        of its location. Indulge in the comfort and sophistication of this
        uniquely crafted bungalow in the heart of Indapur.
      </p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h3 data-aos="fade-right">LOHEGAON BUNGALOW</h3>
      <p style="color: rgb(101, 99, 99)" class="mt-2" data-aos="fade-right">
        Situated in the quaint locale of Kalwad, Pune, this expansive 5500
        square feet bungalow stands as a testament to luxury living. Boasting a
        prime location, the residence harmoniously combines spacious design with
        modern aesthetics. Each corner of this meticulously crafted bungalow
        reflects a perfect blend of comfort and sophistication, making it an
        ideal haven for residents. With ample space for diverse living
        requirements and a touch of elegance in every detail, this Kalwad-based
        bungalow promises a lifestyle of unparalleled refinement and
        tranquility. Experience the epitome of luxurious living in this grand
        5500 sq. ft. residence nestled in the heart of Pune's Kalwad.
      </p>
    </div>
    <div class="col-lg-6">
      <img
        src="assets/Kalwad.jpg"
        alt=""
        class="img-fluid"
        data-aos="zoom-in"
        style="box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15)"
      />
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <img
        src="assets/Bhosari.jpg"
        alt=""
        class="img-fluid"
        data-aos="zoom-in"
        style="box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15)"
      />
    </div>
    <div class="col-lg-6">
      <h3 data-aos="fade-right">INTERIOR</h3>
      <p style="color: rgb(101, 99, 99)" class="mt-2" data-aos="fade-right">
        Situated in the vibrant locale of Bhosari, Pune, Classic Enterprises is
        set to undergo a transformative interior redesign by HPSV. The project
        aims to infuse timeless elegance into the workspace, blending
        functionality with sophistication. Expect a harmonious fusion of modern
        design elements and classic aesthetics, creating an inviting ambiance
        conducive to productivity and creativity. HPSV's expertise promises to
        craft an interior that not only reflects the professionalism of Classic
        Enterprises but also provides a conducive and inspiring environment for
        both clients and employees alike. Get ready to witness a refined and
        distinctive workspace that stands as a testament to Bhosari's business
        culture.
      </p>
    </div>
  </div>
</div>

<!-- Description Section -->
<app-description-section></app-description-section>
<!--Footer-->
<app-footer></app-footer>
