<footer>
  <div class="container">
    <div>
      <p class="text-white mt-2">
        © 2024 HPSV Studio. All rights reserved
        <span class="text-warning">Powered by Ajay Mali.</span>
      </p>
    </div>
    <div>
      <div class="links-media mb-2">
        <a
          href="https://www.instagram.com/hpsv_studio?igsh=anRxeGo5bHp4Ym1v"
          target="_blank"
          ><i class="fa fa-instagram text-dark me-2"></i
        ></a>
        <a
          href="https://www.facebook.com/hpsvstudio?sfnsn=wiwspwa&mibextid=RUbZ1f"
          target="_blank"
          ><i class="fa fa-facebook text-dark me-2"></i
        ></a>
        <i class="fa fa-twitter text-dark me-2"></i>
        <i class="fa fa-linkedin text-dark"></i>
      </div>
    </div>
  </div>
</footer>
